<!DOCTYPE html>
<html>
    <head>
        <title><%- title %></title>
    </head>
    <body>
        <h4>Tus gastos han sido creado con exito</h4>
        <p>El administrador te proveera los siguientes pasos.</p>
    </body>
</html>