:root {
    --font-color:  	 	#444444;
    --backgound-color: 	 	#fdefe4; 
    --link-color:  	#6c7a85;
    --font-family1: 'Share Tech Mono', monospace;
    --border-color: 	#5b5b5b;
    --overline-color: 	 	#68a5b0;
    --shadow-color: 	 	#d5c4a3;
    --hover-color:  	#f3d898;
    --hide-color: 	#999999;
    --back-border:  	#a7e4d1;
    --back-button:  	#fff4e8;

}